page-home {
  h1{
    font-family:'HanziPen SC';
    margin: 'auto';
    position: absolute;
    text-align: left;
    top: 200px;
    width: 100%;
  }

  h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
  }
  p{
    position: absolute;
  }

  .image {
   position: relative;
   width: 100%; /* for IE 6 */
}
}
