page-home {
  h1{
    font-family:'HanziPen SC';
    font-size: 50px;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  h2 {
   position: absolute;
   width: 100%;
  }
  p{
    position: absolute;
    bottom: 10px;
  }
  img{
    position:absolute;
  }

  .image {
   position: relative;
   width: 100%; /* for IE 6 */
}
}
