

page-home {
  h1{
    font-family:'HanziPen SC';
    font-size: 50px;
    margin: auto;
    position: absolute;
    text-align: center;
    top:10px;
    width: 100%;
  }

  h2 {
   position: absolute;
   width: 100%;
  }

  p{
    position: absolute;
    bottom: 10px;
  }

  img{
    position:absolute;
  }

  .image {
   position: relative;
   width: 100%;
   height: 100px;
   background-color: #6b1078;
  }

  .backgroundDiv{
    background-color: #000000;
    height: 100%;
    width: 100%;
  }

  @import "ionic.globals";


    // primary: #000000,
    // secondary:  #6b1078,
    // danger:     #97dffc,
    // light:      #0c1b33,
    // dark:       #858ae3
}
